rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas para la colección de invoices
    match /invoices/{invoiceId} {
      // Solo permitir lectura y escritura si el usuario está autenticado
      // y el invoice pertenece al usuario
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
      // Permitir crear solo si el usuario está autenticado y el userId coincide
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
}

